/* FONT DEFS */
@font-face {
  font-family: "main font";
  src: url(../assets/fonts/NewsCycle-Regular.ttf);
}

/* CROSS PAGE STYLES */
body {
  font-family: "main font", Verdana, sans-serif;
  color: white;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h2,
h3 {
  margin: 0;
}